/* FEUILLE DE STYLE JAVASCRIPT - INTRODUCTION - SEMA */

body {
    background-color: rgb(245, 232, 214);
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

code {
    background-color: white;
    color: red;
    padding: 5px;
}

.stabilo {
    background-color: yellow;
}

